# Django
# https://www.djangoproject.com/
Django

# pytz - World Timezone Definitions for Python
# http://pytz.sourceforge.net/
pytz

# Django-environ allows you to utilize 12factor inspired environment variables
# to configure your Django application.
# http://django-environ.readthedocs.org
django-environ

# Reusable mixins for Django
# http://django-braces.readthedocs.org/en/latest/index.html
django-braces

# Better python shell.
# http://ipython.org/
ipython

# A collection of custom extensions for the Django Framework
# http://django-extensions.readthedocs.org/en/latest/
django-extensions

# Compresses linked and inline JavaScript or CSS into a single cached file.
# https://django-compressor.readthedocs.org/en/latest/
django-compressor

# A django-compressor filter to compile Sass files using libsass.
# https://github.com/torchbox/django-libsass
django-libsass

# Faker is a Python package that generates fake data for you.
# http://www.joke2k.net/faker/
fake-factory

# Fabric is a Python library and command-line tool for streamlining the use of
# SSH for application deployment or systems administration tasks.
# http://www.fabfile.org/
Fabric

# Django Rset Framework
# http://www.django-rest-framework.org/
djangorestframework


# A reusable Django field that allows you to store validated JSON in your model.
# https://pypi.python.org/pypi/jsonfield
jsonfield


numpy

pandas


SciPy

sklearn

gensim

matplotlib

scikit-image

celery

langdetect

nltk

# Redis client for Python
# https://redis-py.readthedocs.org/en/latest/
redis
