# A high-level Python Web framework that encourages rapid development and clean, pragmatic design.
# https://pypi.python.org/pypi/Django/1.9.9
Django==1.9.9


# Tweak the form field rendering in templates, not in python-level form definitions.
# https://pypi.python.org/pypi/django-widget-tweaks
django-widget-tweaks==1.4.1


# World timezone definitions, modern and historical
# https://pypi.python.org/pypi/pytz
pytz==2016.6.1


# Django-environ allows you to utilize 12factor inspired environment variables to configure your Django application.
# https://pypi.python.org/pypi/django-environ/0.4.0
django-environ==0.4.0


# Reusable, generic mixins for Django
# https://pypi.python.org/pypi/django-braces/1.8.1
django-braces==1.8.1


# IPython: Productive Interactive Computing
# https://pypi.python.org/pypi/ipython/4.0.1
ipython==5.0.0


# Extensions for Django
# https://pypi.python.org/pypi/django-extensions/1.6.1
django-extensions==1.6.1


# Compresses linked and inline JavaScript or CSS into single cached files.
# https://pypi.python.org/pypi/django_compressor/1.6
django_compressor==1.6


# SASS for Python: A straightforward binding of libsass for Python.
# https://pypi.python.org/pypi/libsass/0.10.0
libsass==0.10.0


# A django-compressor filter to compile SASS files using libsass
# https://pypi.python.org/pypi/django-libsass/0.6
django-libsass==0.6


# A simple Django app to import bootstrap3-sass.
# https://pypi.python.org/pypi/django-bootstrap3-sass/3.3.2.2
django-bootstrap3-sass==3.3.2.2


# The best way to have Django DRY forms. 
# https://pypi.python.org/pypi/django-crispy-forms/1.6.1
django-crispy-forms==1.6.1


# Faker is a Python package that generates fake data for you.
# https://pypi.python.org/pypi/fake-factory/0.5.3
fake-factory==0.5.3


# Fabric is a simple, Pythonic tool for remote execution and deployment.
# https://pypi.python.org/pypi/Fabric/1.10.2
Fabric==1.10.2


# Project documentation with Markdown.
# https://pypi.python.org/pypi/mkdocs/0.14.0
mkdocs==0.14.0


# Html Content / Article Extractor, web scrapping
# https://pypi.python.org/pypi/goose-extractor/1.0.25
goose-extractor==1.0.25


# A simple Django form template tag to work with Materializecss
# https://pypi.python.org/pypi/django-materializecss-form/1.0.1
django-materializecss-form==1.0.1


# fast html to text parser (article readability tool) with python3 support
# https://pypi.python.org/pypi/readability-lxml/0.6.2
readability-lxml==0.6.2


# A simple tool used to extract an                   article's text in html documents.
# https://pypi.python.org/pypi/eatiht/0.1.14
eatiht==0.1.14


# A reusable Django field that allows you to store validated JSON in your model.
# https://pypi.python.org/pypi/jsonfield/1.0.3
jsonfield==1.0.3



# request cache
# https://requests-cache.readthedocs.io/en/latest/index.html
requests-cache==0.4.12


# html2text parser
# https://github.com/livingbio/html2text
git+https://github.com/livingbio/html2text#egg=html2text


# A Python package that provides interfaces to Amazon Web Services.
# https://github.com/boto/boto
boto==2.41.0


# FileChunkIO represents a chunk of an OS-level file containing bytes data.
# https://bitbucket.org/fabian/filechunkio
filechunkio==1.8

# celery
# http://docs.celeryproject.org/en/latest/index.html#
celery[redis]==3.1.23


MarkupSafe==0.23

# newspaper
# Newspaper: Article scraping & curation¶
# http://newspaper.readthedocs.io/en/latest/
newspaper==0.0.9.8

# Python multiprocessing fork with improvements and bugfixes
# https://pypi.python.org/pypi/billiard
billiard==3.3.0.23

# kombu - Messaging library for Python
# http://docs.celeryproject.org/projects/kombu/en/latest/
kombu==3.0.35

# django-celery
# Celery support for django
django-celery==3.1.17


# A powerful and flexible toolkit for building Web APIs.
# http://www.django-rest-framework.org/
djangorestframework==3.4.6


# For color code conversion
# https://pypi.python.org/pypi/colorutils/
colorutils==0.2.1


# https://pypi.python.org/pypi/langdetect?
# check language
langdetect==1.0.6


# https://pypi.python.org/pypi/pyOpenSSL
# Python wrapper module around the OpenSSL library
pyopenssl



# https://github.com/un1t/django-cleanup
# Automatically deletes old file for FileField and ImageField. It also deletes files on models instance deletion.
django-cleanup==0.4.2

# https://pypi.python.org/pypi/google-api-python-client
# Google API Client Library for Python
google-api-python-client==1.5.0


# https://pypi.python.org/pypi/imgurpython
# Official Imgur python library with OAuth2 and samples
imgurpython==1.1.7


# https://pypi.python.org/pypi/mock
# Rolling backport of unittest.mock for all Pythons
mock==2.0.0


# psycopg2 - Python-PostgreSQL Database Adapter
# https://pypi.python.org/pypi/psycopg2/2.6.1
psycopg2==2.6.1


# http://inflection.readthedocs.io/en/latest/
# transforms strings from CamelCase to underscored_string
inflection==0.3.1


# dicttoxml Converts a Python dictionary or other native data type into a valid XML string.
# https://pypi.python.org/pypi/dicttoxml
dicttoxml==1.7.4


# An ISO 8601 date/time/duration parser and formatter
# https://pypi.python.org/pypi/isodate
isodate==0.5.4

# Build self-validating python objects using JSON schemas.
# http://pypi.python.org/pypi/warlock
-e git+https://github.com/livingbio/warlock.git@b63491ce818c9087b142b107e31d746d20690bf1#egg=warlock


# ISO country, subdivision, language, currency and script definitions and their translations
# https://pypi.python.org/pypi/pycountry
pycountry==17.1.8


# django-hijack allows superusers to hijack (=login as) and work on behalf of another user.
# https://pypi.python.org/pypi/django-hijack
django-hijack==2.1.2


# Django admin integration for Django Hijack
# https://pypi.python.org/pypi/django-hijack-admin
django-hijack-admin==2.1.3

# HTML parser based on the WHATWG HTML specification
# https://pypi.python.org/pypi/html5lib/1.0b8
html5lib==1.0b8

# Slack Python SDK
# https://slackapi.github.io/
slackclient==1.0.5

# extract TLD information
# https://github.com/john-kurkowski/tldextract
tldextract==1.5.1
# NumPy is the fundamental package for scientific computing with Python. It contains among other things:
# http://www.numpy.org/
numpy==1.11.1

# SciPy (pronounced “Sigh Pie”) is a Python-based ecosystem of open-source software for mathematics, science,
# and engineering.
# https://www.scipy.org/
scipy==0.18.0

# Machine Learning in Python
# http://scikit-learn.org/
scikit-learn==0.18

# Topic modelling for humans
# https://radimrehurek.com/gensim/
gensim==0.13.1

# Lightweight SOAP client
# https://pypi.python.org/pypi/suds
suds==0.4

# A configurable set of panels that display various debug information about the current request/response.
# https://pypi.python.org/pypi/django-debug-toolbar/1.4
django-debug-toolbar==1.5


# The Swiss Army knife of Python web development
# https://pypi.python.org/pypi/Werkzeug/0.11.2
Werkzeug==0.11.2


# Code coverage measurement for Python
# https://pypi.python.org/pypi/coverage/4.0.3
coverage==4.0.3


# A Django plugin for py.test.
# https://pypi.python.org/pypi/pytest-django/2.9.1
pytest-django==2.9.1


# pytest: simple powerful testing with Python
# https://pypi.python.org/pypi/pytest/2.9.2
pytest==2.9.2


# Pytest plugin for measuring coverage.
# https://pypi.python.org/pypi/pytest-cov/2.2.0
pytest-cov==2.2.0

# Silky smooth profiling for Django
# https://github.com/django-silk/silk
django-silk==0.5.7


# the modular source code checker: pep8, pyflakes and co
# https://pypi.python.org/pypi/flake8/2.5.4
flake8==2.5.4


# Selenium with Python
# http://selenium-python.readthedocs.io
selenium==3.0.2


# WSGI HTTP Server for UNIX
# https://pypi.python.org/pypi/gunicorn/19.3.0
gunicorn==19.3.0


# Full featured redis cache backend for Django.
# https://pypi.python.org/pypi/django-redis/4.3.0
django-redis==4.3.0


# Python client for Redis key-value store
# https://pypi.python.org/pypi/redis/2.10.5
redis==2.10.5


# Raven is a client for Sentry (https://www.getsentry.com)
# https://pypi.python.org/pypi/raven/5.24.3
raven==5.24.3

# SES Email backend for Django
# https://pypi.python.org/pypi/django-ses
django-ses==0.8.0
# SOAP Services for Python
# https://pypi.python.org/pypi/SOAPpy/0.12.22
SOAPpy==0.12.22


# Convert functions into multi-command program breezily.
# https://pypi.python.org/pypi/clime/0.3.1
clime==0.3.1


# Python Imaging Library (Fork)
# https://pypi.python.org/pypi/Pillow/2.9.0
Pillow==2.9.0


# Video editing with Python
# use our version
-e git+https://github.com/livingbio/moviepy.git@6cb26771f130f01671abd88b64340b17c23651aa#egg=moviepy


# Pafy - Python library to download YouTube content and retrieve metadata
# https://github.com/mps-youtube/pafy
youtube-dl==2017.2.4.1
-e git+https://github.com/livingbio/pafy.git@b99e5a073c350adcd13baea9ded80f7c1676b820#egg=pafy


# YAML parser and emitter for Python
# https://pypi.python.org/pypi/PyYAML/3.11
PyYAML==3.11


# Screen-scraping library
# https://pypi.python.org/pypi/beautifulsoup4/4.4.1
beautifulsoup4==4.4.1


# Python HTTP for Humans.
# https://pypi.python.org/pypi/requests/2.10.0
requests==2.10.0


# Convertion english to kana for japanese text
git+https://github.com/livingbio/python-kana-conversion#egg=kana_conversion


# known how to pronounce in japanese character
# https://pypi.python.org/pypi/Janome
Janome==0.2.8


# Click is a Python package for creating beautiful command line interfaces
# http://click.pocoo.org/
click==6.3


# This Python package implements blend modes for images.
# https://pypi.python.org/pypi/blend_modes
blend_modes==1.0.1


# pdb++, a drop-in replacement for pdb
# https://pypi.python.org/pypi/pdbpp
pdbpp==0.8.3
